:root{
    --dark-color: #141414;
    --light-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: var(--dark-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex:1;
    color: var(--light-color)
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background: var(--dark-color);
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.integrante {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.integrante img {
    border-radius: 50%;
    margin-right: 20px;
}

.info-integrante {
    flex-grow: 1;
}

.info-integrante h3 {
    margin: 0;
    color: #555;
}

.info-integrante p {
    margin: 5px 0;
}

.info-integrante a {
    color: #007BFF;
    text-decoration: none;
}

.info-integrante a:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    margin-top: 20px;
}